.header {
  .header-brand {
    color: #fa5238;
    &:hover {
      color: #fa5238;
    }
  }
  .header-menu {
    &:hover {
      color: #fa5238;
    }
    @apply px-3 py-2 flex items-center text-sm;
  }
  .header-menu-active {
    color: #fa5238;
  }
  .header-login {
    &:hover {
      color: #fa5238;
    }
    @apply text-sm px-1;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    text-align: center;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    box-shadow: none;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: auto;
  }
}
