.profile{
    margin: auto;
    .ant-tabs-top > .ant-tabs-nav::before {
        border-bottom: none;
      }
      .ant-tabs-nav .ant-tabs-tab {
        background-color: transparent;
        border: none;
        color: #000;
        transition: all 0.2s;
        cursor: pointer;
        font-size: 20px;
        line-height: 24px;
        height: 24px;
        &:hover {
          font-size: 24px;
        }
      }
      .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
        align-self: center;
      }
      .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
        height: 0;
      }
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        line-height: 24px;
        height: 24px;
        font-size: 24px;
        color: #fa5238;
      }
      .ant-tabs-tab-btn:active {
        color: #fa5238; 
      }
}