@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick__prev__arrow {
  position: absolute;
  top: 45%;
  background-image: url("./assets/img/back-session.png");
  border: none;
  width: 50px;
  height: 100px;
  z-index: 2;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.slick__next__arrow {
  position: absolute;
  top: 45%;
  right: 0;
  background-image: url("./assets/img/next-session.png");
  border: none;
  width: 50px;
  height: 100px;
  z-index: 2;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

ul.slick-dots li button::before {
  display: block;
  width: 12px;
  height: 12px;
  font-size: 10px;
  color: white;
  opacity: 0.5;
}

ul.slick-dots li.slick-active button::before {
  display: block;
  width: 12px;
  height: 12px;
  font-size: 10px;
  color: red;
  opacity: 1;
}

/* AdminTemplate css */

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
